.album-web {
background: rgb(255, 251, 251);
text-align: center;
}

.page {
box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
}

.cover {
background-color: rgb(202, 188, 240);
box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
}


  