/* Login.css */

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
.login-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px; /* Increase padding for more height */
    width: 300px; /* Increase width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.Login h2 {
    margin-bottom: 20px;
}

.Login input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Login button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.Login button:hover {
    background-color: #0056b3;
}

.Login p {
    color: red;
    font-weight: bold;
}
  