/* PhotoBook.css */

#post-container {
    width: 50%;
    height: 75%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
  }
  
  .post-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
  }
  
  .post-item {
    display: flex;
    flex-direction: row; /* Set the flex direction to row for side-by-side layout */
    justify-content: center; /* Add space between the image and details */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 20px;
    border: 4px solid #eeee;
    padding: 10px;
    border-radius: 5px;
  }
  
  .post-image {
    width: 30%; /* Adjust the width to make the pictures smaller */
    max-width: 400px; /* Set a maximum width to avoid very large images */
    height: auto;
    object-fit: contain;
  }
  
  .post-details {
    flex-grow: 1; /* Allow details to take the remaining space */
    margin-left: 20px; /* Add some space between image and details */
    text-align: center; /* Align the details to the right */
  }
  
  .post-caption {
    font-size: 20px; /* Increase the font size for captions */
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  .post-date {
    font-size: 14px;
    color: #777;
  }
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto; /* Center the button horizontally */
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  