/* PhotoBook.css */

#post-container {
    background-color: white;
    width: 50%;
    height: 75%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
  }
  
  .post-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
  }
  
  .post-item {
    display: flex;
    background-color: white;
    flex-direction: column; /* Change flex direction to column for top-to-bottom layout */
    align-items: center; /* Align items horizontally in the center */
    margin-bottom: 20px;
    border: 4px solid #eeee;
    padding: 10px;
    border-radius: 5px;
  }
  
  .post-image {
    width: 75%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
    border: solid;
    border-color: #f0f0f0;
  }
  
  .post-details {
    padding: 0px 20px 0px 20px; /* Add padding to all sides of .post-details */
    margin-top: 20px; /* Preserve some space between image and details */
    text-align: center;
    border: solid;
    border-color: #f0f0f0;
  }
  
  .post-caption {
    font-size: 20px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .post-date {
    font-size: 14px;
    color: #777;
  }
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto; /* Center the button horizontally */
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  