.editable:hover {
  cursor: pointer;
  background-color: #f2f2f2; /* Highlight color */
}
.edit-option {
    display: none;
    position: absolute;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .date-container:hover .edit-option {
    display: inline-block;
  }
